In [6]:
#Length of variable
x="Navned"
print(len(x))

6

In [5]:
#List 
x=["John","Mary","David","Adam"]
print(x)
type(x)

['John', 'Mary', 'David', 'Adam']

list

In [18]:
x=[12,"Navned",19,"24th April 2003","Kottayam,Kerala,India"]
print("Roll no.,Name,Age,DOB,Place")
print(x)
type(x)
print("Date of birth is",x[3])
print("Place of birtih is",x[-1])

Roll no.,Name,Age,DOB,Place
[12, 'Navned', 19, '24th April 2003', 'Kottayam,Kerala,India']
Date of birth is 24th April 2003
Place of birtih is Kottayam,Kerala,India

In [25]:
x=[]
x=input("Enter some random nos:")
print("The list you created is",x)
l=len(x)
print("Length of list is",l)
print("Numbers between second and second last are",x[1:-2])

Enter some random nos:4,78,12,44,5
The list you created is 4,78,12,44,5
Length of list is 12
Numbers between second and second last are ,78,12,44

In [31]:
x=[1,2,5,4,5,8,5,66]
x[0]=0
print(x)

[0, 2, 5, 4, 5, 8, 5, 66]

In [50]:
#Append function
x=["John","Mary","David","Adam"]
x.append("Navned")
print(x)

['John', 'Mary', 'David', 'Adam', 'Navned']

In [42]:
x=[]
for i in range(4):
  y=input("Enter name:")
  x.append(y)
print(x)

Enter name:Nav
Enter name:Ned
Enter name:Na
Enter name:vn
['Nav', 'Ned', 'Na', 'vn']

In [48]:
x=[]
i=0
while i<4:
  y=input("Enter name:")
  x.append(y)
  i=i+1
print(x)

Enter name:Nav
Enter name:Ned
Enter name:na
Enter name:vn
['Nav', 'Ned', 'na', 'vn']

In [51]:
#Copying list
x=[12,34,6,133,56,7]
y=x.copy()
print(y)

[12, 34, 6, 133, 56, 7]

In [55]:
#Extend function
x=["John","Mary","David","Adam"]
y=['A','B','C']
x.extend(y)
print(x)

['John', 'Mary', 'David', 'Adam', 'A', 'B', 'C']

In [64]:
x=[1,2,3,2,3,3,3,5,'ABC','DEF']
x.count(3)

4

In [68]:
x=["John","Mary","David","Adam"]
x[1:3]=['R','D']
print(x)

['John', 'R', 'D', 'Adam']

In [70]:
#Insert function
x=["Johnny","May","Davy","Adam Smasher"]
x.insert(2,"James")
print(x)

['Johnny', 'May', 'James', 'Davy', 'Adam Smasher']

In [73]:
#emove function
x=["Johnny","May","Davy","Adam Smasher"]
x.remove("May")
print(x)

['Johnny', 'Davy', 'Adam Smasher']

In [79]:
#Delete function
x=["Johnny","May","Davy","Adam Smasher"]
del x[0:2]
print(x)

['Davy', 'Adam Smasher']