In [5]:
x="This is \"Python\" programming"
print(x)

This is "Python" programming

In [6]:
x='He\'s a doctor'
print(x)

He's a doctor

In [10]:
x="Hello \n word!"
print(x)

Hello
 word!

In [9]:
x="Hello \t world"
print(x)

Hello 	 world

In [12]:
print("\"Navned\"Venugopal")

"Navned"Venugopal

In [18]:
print("He\n is a doctor")

He
 is a doctor

In [19]:
print("Navned\n Venugopal")

Navned
 Venugopal

In [29]:
y=input("Enter Name")
z=int(input("Enter place"))
x=["Menon","John","Mary","David","Adam"]
x.insert(z,y)
print(x)

Enter Namesourav
Enter place0
['sourav', 'Menon', 'John', 'Mary', 'David', 'Adam']

In [32]:
def Abraham():
  y=input("Enter name:")
  z=int(input("Enter index value:"))
  x=["Menon","John","Mary","David","Adam"]
  x.insert(z,y)
  print(x)

In [33]:
Abraham()

Enter name:Sourav
Enter index value:0
['Sourav', 'Menon', 'John', 'Mary', 'David', 'Adam']

In [37]:
def Sharon():
  x=int(input("Enter number"))
  y=int(input("Enter second number"))
  print("Addition=",x+y)
  print("Subtraction=",x-y)
  print("Division=",x/y)
  print("Multiplication=",x*y)
  print("Square=",x**y)

In [38]:
Sharon()

Enter number77
Enter second number11
Addition= 88
Subtraction= 66
Division= 7.0
Multiplication= 847
Square= 564154396389137449973

In [39]:
def math(a,b):
  print(a,b)

In [40]:
x=int(input("Enter first value"))
y=int(input("Enter second value"))
math(x,y)

Enter first value1
Enter second value2
1 2

In [53]:
def add(a,b):
  print(a+b)

In [56]:
def subtract(a,b):
  print(a-b)

In [57]:
def divide(a,b):
  print(a/b)

In [58]:
def multiply(a,b):
  print(a*b)

In [60]:
x=int(input("Enter first value"))
y=int(input("Enter second value"))
add(x,y)
subtract(x,y)
divide(x,y)
multiply(x,y)

Enter first value5
Enter second value4
9
1
1.25
20