In [6]:
c=int(input("enter 1st number"))
b=int(input("enter 2nd number"))
print("a=addition, s=subtraction, m= multiplication, d=division")
x=input("what to do")
for i in x:
  if i=="a":
    print(c+b)
  elif i=="s":
    print(c-b)
  elif i=="m":
    print(c*b)
  elif i=="d":
    print(c/b)
  else:
    print("wrong")

enter 1st number5
enter 2nd number4
a=addition, s=subtraction, m= multiplication, d=division
what to dod
1.25

In [ ]:
45

In [11]:
p=int(input("enter principal amt"))
n=int(input("enter years"))
c=int(input("enter rate"))
r=c/100
print("interest=",(p*n*r))

enter principal amt100
enter years5
enter rate12
interest= 60.0

In [18]:
print("Banking marks")
x=int(input("enter marks"))
if x==80:
    print("full marks")
elif x>50:
    print("pass")
elif x<50:
    print("fail")
else:
    print("wrong input")

Banking marks
enter marks66
pass

In [20]:
x=int(input("enter your salary"))
if x>=250000:
  print("you're taxable")
else:
  print("you're not taxable")

enter your salary250001
you're taxable

In [21]:
x=int(input("enter your salary"))
if x>=250000:
  print("you're taxable")
  print("tax=",x*(10/100))
else:
  print("you're not taxable")

enter your salary250000
you're taxable
tax= 25000.0

In [24]:
x=int(input("enter your salary"))
if x>=300000:
  print("you're taxable")
  print("tax=",(x-250000)*(10/100))
else:
  print("you're not taxable")

enter your salary300000
you're taxable
tax= 5000.0

In [27]:
x=int(input("enter your salary"))
if x>=300000 and x<=500000:
  print("you're taxable")
  print("tax=",(x-250000)*(10/100))
elif x>50000:
 print("you're taxable")
 print("tax=",(x-250000)*(20/100))
else:
  print("you're not taxable")

enter your salary600000
you're taxable
tax= 70000.0